.shedule
	display flex
	align-items center

	&__icon
		margin-right 15px
		size 36px

	&__text
	&__link
		font-family $navigo
		font-size 11px
		font-weight 700
		line-height 13px
		text-transform uppercase
		color $c-dark

	&__text
		margin-bottom 5px

	&__link
		position relative
		text-decoration none

		&::before
			position absolute
			left 0
			bottom -1px
			width 100%
			height 1px
			content ''
			background-color rgba($c-dark, .35)
			transition background-color .3s

		&:hover::before
			background-color transparent
