.subheader
	padding-x 15px
	display flex
	align-items center
	height 62px
	background-color $c-dark

	&__content
		position relative
		display flex
		justify-content space-between
		align-items center

	&__left
		display flex
		align-items center

	&__search
		margin-right 84px

	&__center
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
