@font-face
	font-family 'Navigo'
	src url('../fonts/woff2/hinted-subset-Navigo-Light.woff2') format('woff2'),
		url('../fonts/woff/hinted-subset-Navigo-Light.woff') format('woff'),
		url('../fonts/woff/hinted-subset-Navigo-Light.ttf') format('truetype'),
	font-weight 300
	font-style normal

@font-face
	font-family 'Navigo'
	src url('../fonts/woff2/hinted-subset-Navigo-Regular.woff2') format('woff2'),
		url('../fonts/woff/hinted-subset-Navigo-Regular.woff') format('woff'),
		url('../fonts/woff/hinted-subset-Navigo-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Navigo'
	src url('../fonts/woff2/hinted-subset-Navigo-Bold.woff2') format('woff2'),
		url('../fonts/woff/hinted-subset-Navigo-Bold.woff') format('woff'),
		url('../fonts/woff/hinted-subset-Navigo-Bold.ttf') format('truetype')
	font-weight 700
	font-style normal
